.header{
  background-color: #fcfcfc;
  height: 100%;
  max-width: 100%;
  text-align: center;
  margin: 0% auto;
}
form{
  width: 70%;

  text-align: center;
  margin: 4em auto;
}
.sign{
  
  
  margin:  7em auto;

}
.signup{
  width: 80%;

}